---
pagination:
  data: collections.posts
  size: 50
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<div class="container mx-auto">
  <%- include('_includes/layouts/header.ejs') %>

  <div>
    <div class="pt-10 flex flex-col items-center xl:flex-row lg:flex-row md:flex-row">
      <div class="mr-8">
        <img class="avatar" src="/assets/images/giancarlo.jpeg" />
      </div>

      <div>
        <h1 class="font-bold text-5xl">
          Hey, I'm Giancarlo
        </h1>

        <h2 class="text-xl text-grey-800">
          I'm a Software Consultant, technical writer & creator.
        </h2>
      </div>
    </div>
  </div>

  <div class="mt-12">
    <h4 class="font-bold text-lg">
      About Me
    </h4>

    <ul>
      <li>I have worked for many years as Consultant for Financial Institutions in London, UK. I do still consult for short-term projects.</li>
      <li>I recently co-founded on <a href="https://formtoro.com">Formtoro</a> - a tech agency for eCommerce data-collection</li>
      <li>I write on <a href="https://angularbites.com">Angular Bites</a> - a blog of thoughts and articles about <b>Angular</b> and its ecosystem</li>
      <li>I used to write on <a href="https://medium.com/@.gc">Medium</a> - mostly long-form posts about Software Development. No longer doing that as I dislike the platform.</li>
      <li>My biggest passions are coding and going to the gym</li>
    </ul>
  </div>

  <div class="mt-6">
    <h4 class="font-bold text-lg">
      Let's Connect
    </h4>

    <ul>
      <li>
        Follow me on <a target="_blank" href="https://twitter.com/gc_psk">Twitter</a>
      </li>

      <li>
        Connect on <a target="_blank" href="https://www.linkedin.com/in/giancarlobuomprisco/">Linkedin</a>
      </li>

      <li>
        Fork my code on <a target="_blank" href="https://github.com/gbuomprisco">Github</a>
      </li>
    </ul>
  </div>

  <div class="mt-6">
    <h4 class="font-bold text-lg">
      Blog
    </h4>

    <ul>
      <% list.forEach((post) => { %>
        <li>
          <a href="<%= post.url %>"><%= post.data.title %></a>
          - <%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %>
        </li>
      <% }) %>
    </ul>
  </div>

  <div class="pt-3">
    <% if (pagination.previous) { %>
      <a href="<%= pagination.previous.replace(/index.html$/, "") %>">Newer Posts</a>
    <% } %> <% if (pagination.next) { %>
      <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts</a>
    <% } %>
  </div>
</div>
